<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recursos Adicionales</title>
    <link rel="stylesheet" href="../../styles/blog.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="/img/imglogo.png" alt="Nummus Logo">
            <h1>nummus</h1>
        </div>
        <div class="dropdown-container">
            <div class="dropdown">
                <button class="dropbtn">Nombre de Usuario</button>
                <div class="dropdown-content">
                    <a href="#" id="logout">Cerrar sesión</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <h2>Recursos Adicionales</h2>
        <section class="related-resources">
            <h3>Relacionados con Ahorro</h3>
            <div class="resources-grid">
                <div class="resource">
                    <img src="/img/imgAhorro1.png">
                    <div class="resource-info">
                        <p>Blog • 16 Jul 2020</p>
                        <h4><a href="https://elpais.com/elpais/2020/06/26/icon/1593161037_723380.html" target="_blank">El País - Artículos sobre cómo empezar a ahorrar</a></h4>
                        <p>Cómo aprender a ahorrar para que tu ‘yo del futuro’ te dé las gracias.</p>
                        <div class="tags">
                            <span>El País</span><span>Ahorro</span><span>Futuro</span>
                        </div>
                    </div>
                </div>
                <div class="resource">
                    <img src="img/imgAhorro2.png">
                    <div class="resource-info">
                        <p>Video • 12 Ene 2017</p>
                        <h4><a href="https://www.youtube.com/watch?v=vzDQMEgfhrY&ab_channel=KevinRodriguez" target="_blank">Cómo Maximizar tus Ahorros - Estrategias de ahorro avanzadas</a></h4>
                        <p>En este vídeo aprenderás como ahorrar dinero con eficacia e inteligencia. Al poner en práctica estos métodos puedes empezar ahorrar dinero ya desde hoy.</p>
                        <div class="tags">
                            <span>Ahorro</span><span>Tips</span>
                        </div>
                    </div>
                </div>
                <div class="resource">
                    <img src="img/imgAhorro3.png">
                    <div class="resource-info">
                        <p>Blog • 6 Nov 2022</p>
                        <h4><a href="https://fee.org.es/articulos/7-maneras-sencillas-de-ahorrar-dinero-y-decenas-de-miles-de-d%C3%B3lares/?gad_source=1&gclid=Cj0KCQjw-ai0BhDPARIsAB6hmP6WiSwquWq_qey1Bs0OhkIEGxC6vFEwldtTdIaGpnxyXz2CEEcN0n0aAvX5EALw_wcB" target="_blank">The Simple Dollar - Estrategias y análisis profundos sobre el ahorro</a></h4>
                        <p>Aquí hay siete maneras  para ahorrar miles de dólares de tu presupuesto.</p>
                        <div class="tags">
                            <span>Estrategia</span><span>Ahorro</span><span>Análisis</span>
                        </div>
                    </div>
                </div>
                <div class="resource">
                    <img src="img/imgAhorro4.png">
                    <div class="resource-info">
                        <p>Video • 3 Jul 2017</p>
                        <h4><a href="https://www.youtube.com/watch?v=I0wQQvS4hxM&ab_channel=CetelemEspa%C3%B1a" target="_blank">Método Kakebo para Ahorrar - Técnica de ahorro japonesa</a></h4>
                        <p>Un método japonés simple para gestionar tus finanzas y ahorrar dinero.</p>
                        <div class="tags">
                            <span>Kakebo</span><span>Economía</span><span>Ahorro</span>
                        </div>
                    </div>
                </div>
                <div class="resource">
                    <img src="img/imgAhorro5.png">
                    <div class="resource-info">
                        <p>Artículo • 1 Jul 2023</p>
                        <h4><a href="https://finsei.io/app-para-ahorrar-dinero/" target="_blank" >Aplicaciones para Ahorrar Dinero - Lista de aplicaciones útiles para el ahorro</a></h4>
                        <p>Las 6 mejores Apps para ahorrar dinero y controlar tus gastos.</p>
                        <div class="tags">
                            <span>Ahorro</span><span>Apps</span><span>Técnologia</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="related-resources">
            <h3>Relacionados con Presupuestos</h3>
            <div class="resources-grid">
                <div class="resource">
                    <img src="img/imgPresupuestos1.png">
                    <div class="resource-info">
                        <p>Blog • 27 Sep 2023</p>
                        <h4><a href="https://www.lavanguardia.com/economia/finanzas-personales/20201005/483869809662/educacion-financiera-trucos-cuidar-ahorrar-dinero-mkt-hmc.html" target="_blank">Economía Familiar - Consejos básicos para la creación de presupuestos</a></h4>
                        <p>Por culpa de una deficiente educación financiera, los hogares siguen teniendo una asignatura pendiente con la gestión de los ingresos y los gastos.</p>
                        <div class="tags">
                            <span>Economía</span><span>Presupuestos</span><span>Familia</span>
                        </div>
                    </div>
                </div>
                <div class="resource">
                    <img src="img/imgPresupuestos2.png">
                    <div class="resource-info">
                        <p>Artículo • 1 Jun 2023</p>
                        <h4><a href="https://fastercapital.com/es/tema/consejos-para-un-presupuesto-eficaz.html/1" target="_blank">Consejos para un Presupuesto Eficaz - Artículo de US News</a></h4>
                        <p>Este es un resumen de este tema. Es una compilación de varios blogs que lo comentan. Cada título está vinculado al blog original.</p>
                        <div class="tags">
                            <span>Consejo</span><span>Tips</span><span>Presupuestos</span>
                        </div>
                    </div>
                </div>
                <div class="resource">
                    <img src="img/imgPresupuestos3.png">
                    <div class="resource-info">
                        <p>Video • 30 May 2016</p>
                        <h4><a href="https://www.youtube.com/watch?v=KuLDlvrAK1w" target="_blank">Presupuestos Avanzados - Métodos avanzados de presupuestación</a></h4>
                        <p>Programacion y Formulacion del Presupuesto.</p>
                        <div class="tags">
                            <span>Método</span><span>Presupuestos</span><span>Avanzado</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="related-resources">
            <h3>Relacionados con Inversiones</h3>
            <div class="resources-grid">
                <div class="resource">
                    <img src="img/imgInversiones1.png">
                    <div class="resource-info">
                        <p>Blog • 14 Ago 2018</p>
                        <h4><a href="https://www.elblogsalmon.com/mercados-financieros/buffet-rompe-su-regla-oro-e-invierte-sector-emergente" target="_blank">Buffett rompe su regla de oro e invierte en un sector emergente</a></h4>
                        <p>Buffet es uno de los hombres más ricos del planeta, y lo ha conseguido con un estricto decálogo de máximas de inversión. Sin embargo, ahora Buffet ha roto de forma intrigante su regla de oro por excelencia...</p>
                        <div class="tags">
                            <span>Inversiones</span><span>Exito</span><span>Buffett</span>
                        </div>
                    </div>
                </div>
                <div class="resource">
                    <img src="img/imgInversiones2.png">
                    <div class="resource-info">
                        <p>Artículo • 19 Set 2019</p>
                        <h4><a href="https://www.santander.com/es/stories/diversificar-inversiones" target="_blank">Diversificación de Inversiones - Métodos de diversificación</a></h4>
                        <p>Encontrar el equilibrio entre la rentabilidad y el riesgo es uno de los retos que se plantean los inversores. Y para conseguirlo, la diversificación es un método muy útil y que está al alcance de cualquier perfil inversor.</p>
                        <div class="tags">
                            <span>Inversiones</span><span>Rentabilidad</span><span>Diversificación</span>
                        </div>
                    </div>
                </div>
                <div class="resource">
                    <img src="img/imgInversiones3.png">
                    <div class="resource-info">
                        <p>Video • 18 Sep 2022</p>
                        <h4><a href="https://www.youtube.com/watch?v=HMEJE9J9D_g&ab_channel=Rankia" target="_blank">Cómo Invertir Dinero - Técnicas intermedias</a></h4>
                        <p>Te explico algunos conocimientos educativos para principiantes para que puedas comenzar tu propio aprendizaje e inversión. Aprenderás cómo empezar a invertir siendo principiante en el mundo de la bolsa y los mercados, con poco dinero y sin riesgo.</p>
                        <div class="tags">
                            <span>Inversiones</span><span>Principiante</span><span>Bolsa</span>
                        </div>
                    </div>
                </div>
                <div class="resource">
                    <img src="img/imgInversiones4.png">
                    <div class="resource-info">
                        <p>Artículo • 18 Ago 2023</p>
                        <h4><a href="https://www.bbva.com/es/salud-financiera/guia-de-inversion-como-empezar-en-el-mundo-de-las-inversiones/" target="_blank">Guía Básica de Inversiones - Guía básica de BBVA</a></h4>
                        <p>Guía de inversión: cómo empezar en el mundo de las inversiones.</p>
                        <div class="tags">
                            <span>Inversiones</span><span>Principiante</span><span>Bolsa</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="related-resources">
            <h3>Relacionados con Crédito</h3>
            <div class="resources-grid">
                <div class="resource">
                    <img src="img/imgCredito1.png">
                    <div class="resource-info">
                        <p>Blog • 12 Ago 2023</p>
                        <h4><a href="https://www.boomandbucket.com/es/blog/strategies-for-a-strong-heavy-equipment-financing-proposal" target="_blank">Crédito Experto - Estrategias y análisis profundos</a></h4>
                        <p>Estrategias para una propuesta sólida de financiación de maquinaria pesada.</p>
                        <div class="tags">
                            <span>Financiamiento</span><span>Estrategia</span><span>Crédito</span>
                        </div>
                    </div>
                </div>
                <div class="resource">
                    <img src="img/imgCredito2.png">
                    <div class="resource-info">
                        <p>Video • 19 Set 2019</p>
                        <h4><a href="https://www.youtube.com/watch?v=cVdwNT_q4XE" target="_blank">Crédito Avanzado - Técnicas avanzadas</a></h4>
                        <p>Encontrar el equilibrio entre la rentabilidad y el riesgo es uno de los retos que se plantean los inversores. Y para conseguirlo, la diversificación es un método muy útil y que está al alcance de cualquier perfil inversor.</p>
                        <div class="tags">
                            <span>Desarrollo</span><span>Crédito</span><span>Avanzado</span>
                        </div>
                    </div>
                </div>
                <div class="resource">
                    <img src="img/imgCredito3.png">
                    <div class="resource-info">
                        <p>Artículo • 14 Dic 2019</p>
                        <h4><a href="https://ve.scielo.org/scielo.php?script=sci_arttext&pid=S1315-99842009000400009" target="_blank">Análisis Financiero del Crédito - Análisis detallados de FICO</a></h4>
                        <p>Análisis financiero: una herramienta clave para una gestión financiera eficiente.</p>
                        <div class="tags">
                            <span>Crédito</span><span>Análisis</span><span>Gestión</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Recuperar el nombre y nivel del usuario del localStorage
            const userName = localStorage.getItem('userName');
            const userId = localStorage.getItem('userId');
            let userLevel = localStorage.getItem('userLevel');

            // Console log para debug
            console.log('userName:', userName);
            console.log('ID de usuario almacenado:', userId);
            console.log('userLevel:', userLevel);

            // Obtener el botón del menú desplegable
            const dropbtn = document.querySelector('.dropbtn');

            // Establecer el dropdown si hay nombre de usuario
            if (userName) {
                dropbtn.innerHTML = `Hola, <strong>${userName}</strong>`;
            }

            // Obtener "Cerrar sesión"
            const logoutLink = document.getElementById('logout');

            // Agregar un event listener para el enlace de "Cerrar sesión"
            logoutLink.addEventListener('click', (event) => {
                event.preventDefault();

                // Eliminar los datos del localStorage
                localStorage.removeItem('userName');
                localStorage.removeItem('userLevel');

                // Redirigir al usuario a la página de login
                window.location.href = '/login.html';
            });
        });
     </script>
</body>
</html>