<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../styles/style3.css">
   
    <title>Quiz Presupuesto Experto </title>
</head>
<body>
    <button class="back-button" onclick="goBack()">Regresar</button>
    <div class="quiz-container" id="quiz">
        <div class="quiz-header">
            <div class="progress-container">
                <div class="progress-bar" id="progress-bar"></div>
            </div>
            <h2 id="question">Question is loading...</h2>
            <ul>
                <li>
                    <input type="radio" name="answer" id="a" class="answer" />
                    <label for="a" id="a_text">Answer...</label>
                </li>
                <li>
                    <input type="radio" name="answer" id="b" class="answer" />
                    <label for="b" id="b_text">Answer...</label>
                </li>
                <li>
                    <input type="radio" name="answer" id="c" class="answer" />
                    <label for="c" id="c_text">Answer...</label>
                </li>
                <li>
                    <input type="radio" name="answer" id="d" class="answer" />
                    <label for="d" id="d_text">Answer...</label>
                </li>
            </ul>
            <div id="popup" class="popup">
                <div class="popup-content">
                    <span class="close-btn" onclick="closePopup()">&times;</span>
                    <div id="popup-message">Mensaje del popup</div>
                    
                </div>
            </div>
        </div>
        <button id="submit">Enviar</button>
    </div>

    <script>
 const quizData = [
    {
        question: "¿Qué es la presupuestación de base cero?",
        a: "Un enfoque presupuestario que utiliza el presupuesto del año anterior como base y hace ajustes según las necesidades",
        b: "Un enfoque presupuestario que requiere que cada actividad se justifique desde cero",
        c: "Un tipo de bono",
        d: "Un gasto fijo",
        correct: "b",
        explanation: "La presupuestación de base cero requiere que cada actividad se justifique desde cero en cada nuevo período presupuestario. Este enfoque no toma el presupuesto del año anterior como base, sino que evalúa y justifica cada gasto desde el principio, promoviendo una asignación eficiente de recursos.",
        
    },
    {
        question: "¿Qué es el presupuesto flexible?",
        a: "Un presupuesto que no se ajusta a las fluctuaciones en el volumen de actividad",
        b: "Un presupuesto que puede ajustarse según cambien las condiciones o niveles de actividad",
        c: "Un tipo de acción",
        d: "Un ahorro",
        correct: "b",
        explanation: "Un presupuesto flexible puede ajustarse según cambien las condiciones o niveles de actividad, permitiendo a la organización reaccionar de manera más eficaz a las variaciones en su entorno operativo.",
    },
    {
        question: "¿Qué es el presupuesto de efectivo?",
        a: "Un plan que detalla los ingresos y egresos de efectivo esperados durante un período específico",
        b: "Un tipo de bono",
        c: "Un tipo de gasto fijo",
        d: "Un ahorro",
        correct: "a",
        explanation: "Un presupuesto de efectivo es un plan que detalla los ingresos y egresos de efectivo esperados durante un período específico. Ayuda a la organización a gestionar su liquidez y asegurar que tiene suficiente efectivo para cubrir sus obligaciones.",
    },
    {
        question: "¿Qué es la variación presupuestaria?",
        a: "La diferencia entre los ingresos y gastos reales y los presupuestados",
        b: "Un tipo de bono",
        c: "Un tipo de gasto fijo",
        d: "Un ahorro",
        correct: "a",
        explanation: "La variación presupuestaria es la diferencia entre los ingresos y gastos reales y los presupuestados. Esta métrica es importante para entender cómo se está desempeñando la organización en comparación con sus planes y permite hacer ajustes necesarios.",
    },
    {
        question: "¿Qué es la presupuestación participativa?",
        a: "Un enfoque que involucra a empleados y otros stakeholders en el proceso de elaboración del presupuesto",
        b: "Un tipo de ahorro",
        c: "Un tipo de bono",
        d: "Un gasto fijo",
        correct: "a",
        explanation: " La presupuestación participativa es un enfoque que involucra a empleados y otros stakeholders en el proceso de elaboración del presupuesto. Este método puede mejorar la precisión del presupuesto y aumentar la aceptación y el compromiso con los objetivos financieros de la organización.",
    },
    {
        question: "¿Qué es un presupuesto de capital?",
        a: "Una herramienta financiera que ayuda a las empresas a planificar y controlar sus inversiones a largo plazo",
        b: "Un presupuesto personal",
        c: "Un tipo de ahorro",
        d: "Un tipo de acción",
        correct: "a",
        explanation: "Un presupuesto de capital es una herramienta financiera que ayuda a las empresas a planificar y controlar sus inversiones a largo plazo. Este tipo de presupuesto se utiliza para evaluar y seleccionar proyectos de inversión que requerirán un desembolso significativo de recursos financieros.",
    },
    {
        question: "¿Qué es el presupuesto maestro?",
        a: "Un plan financiero integral que cubre todos los aspectos de las operaciones de una empresa para un período específico",
        b: "Un presupuesto sencillo",
        c: "Un tipo de bono",
        d: "Un gasto fijo",
        correct: "a",
        explanation: "El presupuesto maestro es un plan financiero integral que cubre todos los aspectos de las operaciones de una empresa para un período específico. Incluye diversos presupuestos detallados como el presupuesto de ventas, producción, y financiero.",
    },
    {
        question: "¿Qué es la presupuestación por programas?",
        a: "Un enfoque presupuestario que vincula los recursos con los objetivos y resultados de programas específicos",
        b: "Un tipo de acción",
        c: "Un tipo de ahorro",
        d: "Un tipo de bono",
        correct: "a",
        explanation: " La presupuestación por programas es un enfoque presupuestario que vincula los recursos con los objetivos y resultados de programas específicos. Este método permite a las organizaciones enfocar sus recursos en áreas que generen los resultados más importantes y alineados con sus objetivos estratégicos.",
    }
];


        const quiz = document.getElementById("quiz");
    const answerElements = document.querySelectorAll(".answer");
    const questionElement = document.getElementById("question");
    const a_text = document.getElementById("a_text");
    const b_text = document.getElementById("b_text");
    const c_text = document.getElementById("c_text");
    const d_text = document.getElementById("d_text");
    const submitButton = document.getElementById("submit");
    const progressBar = document.getElementById("progress-bar");
    const popup = document.getElementById("popup");
    const popupMessage = document.getElementById("popup-message");

    let currentQuiz = 0;
    let score = 0;
    let currentQuizData;

    const deselectAnswers = () => {
        answerElements.forEach((answer) => (answer.checked = false));
        document.querySelectorAll("label").forEach((label) => label.classList.remove("correct"));
    };

    const getSelected = () => {
        let answer;
        answerElements.forEach((answerElement) => {
            if (answerElement.checked) answer = answerElement.id;
        });
        return answer;
    };

    const loadQuiz = () => {
        deselectAnswers();
        if (currentQuiz < quizData.length) {
            currentQuizData = quizData[currentQuiz];
            questionElement.innerText = currentQuizData.question;
            a_text.innerText = currentQuizData.a;
            b_text.innerText = currentQuizData.b;
            c_text.innerText = currentQuizData.c;
            d_text.innerText = currentQuizData.d;
            updateProgressBar();
        } else {
            console.error("Error: currentQuiz está fuera de los límites de quizData.");
        }
    };

    const updateProgressBar = () => {
        const progress = (currentQuiz / quizData.length) * 100;
        progressBar.style.width = `${progress}%`;
    };

    loadQuiz();

    submitButton.addEventListener("click", () => {
    const answer = getSelected();
    if (answer) {
        const correctAnswer = quizData[currentQuiz]?.correct;
        if (correctAnswer) {
            if (answer === correctAnswer) {
                score++;
            } else {
                popupMessage.innerHTML = `Respuesta incorrecta. La respuesta correcta es: ${currentQuizData[correctAnswer]}.<br>Explicación: ${currentQuizData.explanation || "Sin explicación"}`;
                    showPopup();
                document.getElementById(`${correctAnswer}_text`).classList.add("correct");
                lastQuestionAnswered = currentQuiz + 1 === quizData.length; // Check if it's the last question
            }
        } else {
            console.error("Error: currentQuiz está fuera de los límites de quizData.");
            return;
        }
        currentQuiz++;
        if (currentQuiz < quizData.length) {
            setTimeout(loadQuiz, 1000);
        } else {
            console.log(`Puntaje obtenido: ${score}`);
            if (score === 8) {
                quiz.innerHTML = `
                    <h2>Felicitaciones!, completaste todos los niveles</h2>
                    <button onclick="window.location.href='/modulos.html'">Regresar a los modulos</button>
                `;
            } else {
                quiz.innerHTML = `
                    <h2>Fallaste el examen experto, vuelve a intentarlo</h2>
                    <button onclick="window.location.reload()">Retomar la encuesta</button>
                `;
            }
        }
    }
});
const showPopup = () => {
    popup.style.display = "block";
};

const closePopup = () => {
    popup.style.display = "none";
    if (lastQuestionAnswered) {
        displayResult();
    }
};


// Función para regresar atrás 
function goBack() {
    window.history.back();
}

// Función para obtener el nivel del usuario
function getUserLevel() {
    return localStorage.getItem('userLevel') || 'experto';
}
</script>