<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../styles/style3.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
    <title>Presupuesto Conversador</title>
</head>
<body>
    <button class="back-button" onclick="goBack()">Regresar</button>
    <div class="quiz-container" id="quiz">
        <div class="quiz-header">
            <div class="progress-container">
                <div class="progress-bar" id="progress-bar"></div>
            </div>
            <h2 id="question">Cargando pregunta...</h2>
            <ul>
                <li>
                    <input type="radio" name="answer" id="a" class="answer" />
                    <label for="a" id="a_text">Respuesta...</label>
                </li>
                <li>
                    <input type="radio" name="answer" id="b" class="answer" />
                    <label for="b" id="b_text">Respuesta...</label>
                </li>
                <li>
                    <input type="radio" name="answer" id="c" class="answer" />
                    <label for="c" id="c_text">Respuesta...</label>
                </li>
                <li>
                    <input type="radio" name="answer" id="d" class="answer" />
                    <label for="d" id="d_text">Respuesta...</label>
                </li>
            </ul>
            <div id="popup" class="popup">
                <div class="popup-content">
                    <span class="close-btn" onclick="closePopup()">&times;</span>
                    <div id="popup-message">Mensaje del popup</div>
                    
                </div>
            </div>
        </div>
        <button id="submit">Enviar</button>
    </div>

    <script>
        const quizData = [
            {
                question: "¿Qué es el presupuesto ajustado por inflación?",
                a: "Un presupuesto sin considerar la inflación",
                b: "Un presupuesto que incluye ajustes para reflejar el impacto de la inflación en los costos futuros",
                c: "Un presupuesto sin ingresos",
                d: "Un presupuesto sin gastos",
                correct: "b",
                explanation: "El presupuesto ajustado por inflación toma en cuenta los cambios en el poder adquisitivo del dinero y ajusta los costos futuros para reflejar el impacto de la inflación.",
            },
            {
                question: "¿Qué es el análisis de escenarios en la elaboración de presupuestos?",
                a: "Un análisis de ingresos fijos",
                b: "Un análisis que evalúa diferentes posibles futuros y sus impactos en el presupuesto",
                c: "Un análisis sin gastos",
                d: "Un análisis sin ingresos",
                correct: "b",
                explanation: "El análisis de escenarios considera diferentes posibles futuros y evalúa cómo estos impactarían el presupuesto, permitiendo una planificación más robusta y adaptable",
            },
            {
                question: "¿Qué significa 'presupuesto rígido'?",
                a: "Un presupuesto flexible",
                b: "Un presupuesto que no permite ajustes aunque cambien los ingresos o gastos",
                c: "Un presupuesto sin ingresos",
                d: "Un presupuesto sin gastos",
                correct: "b",
                explanation: "Un presupuesto rígido es aquel que no permite ajustes, independientemente de los cambios en los ingresos o gastos, lo que puede limitar la capacidad de adaptarse a nuevas circunstancias",
            },
            {
                question: "¿Qué es el 'presupuesto por resultados'?",
                a: "Un presupuesto sin resultados",
                b: "Un presupuesto que asigna fondos basándose en los resultados y rendimiento esperado de diferentes áreas o proyectos",
                c: "Un presupuesto sin ingresos",
                d: "Un presupuesto sin gastos",
                correct: "b",
                explanation: "El presupuesto por resultados asigna fondos según el rendimiento esperado y los resultados de diferentes áreas o proyectos, incentivando la eficiencia y efectividad",
            },
            {
                question: "¿Qué es el 'presupuesto incremental'?",
                a: "Un presupuesto sin incrementos",
                b: "Un presupuesto que se basa en el presupuesto anterior y añade incrementos para reflejar cambios en los costos o prioridades",
                c: "Un presupuesto sin ingresos",
                d: "Un presupuesto sin gastos",
                correct: "b",
                explanation: " El presupuesto incremental toma el presupuesto anterior y añade incrementos para reflejar cambios en los costos o nuevas prioridades, simplificando la planificación y ajustándose a las necesidades actuales",
            },
            {
                question: "¿Qué es el 'presupuesto de desempeño'?",
                a: "Un presupuesto sin desempeño",
                b: "Un presupuesto que se enfoca en la eficiencia y efectividad del uso de los fondos asignados",
                c: "Un presupuesto sin ingresos",
                d: "Un presupuesto sin gastos",
                correct: "b",
                explanation: "El presupuesto de desempeño se enfoca en medir y mejorar la eficiencia y efectividad con la que se utilizan los fondos asignados, asegurando que los recursos se empleen de manera óptima para alcanzar los objetivos organizacionales",
            },
            {
                question: "¿Qué es la 'planificación presupuestaria estratégica'?",
                a: "Una planificación sin estrategia",
                b: "Una planificación que alinea el presupuesto con los objetivos estratégicos a largo plazo de la organización",
                c: "Una planificación sin ingresos",
                d: "Una planificación sin gastos",
                correct: "b",
                explanation: "La planificación presupuestaria estratégica alinea el presupuesto con los objetivos estratégicos a largo plazo de la organización, asegurando que los recursos financieros se utilicen de manera coherente con la visión y metas de la organización",
            },
            {
                question: "¿Cómo puede el análisis de datos mejorar la precisión del presupuesto?",
                a: "Ignorando los datos históricos",
                b: "Utilizando datos históricos y tendencias para hacer estimaciones más precisas de ingresos y gastos futuros",
                c: "Aumentando los gastos sin control",
                d: "Reduciendo todos los ingresos",
                correct: "b",
                explanation: "El análisis de datos mejora la precisión del presupuesto al utilizar datos históricos y tendencias actuales para hacer estimaciones más precisas de ingresos y gastos futuros, permitiendo una planificación más informada y efectiva.",
            }
        ];

        const quiz = document.getElementById("quiz");
    const answerElements = document.querySelectorAll(".answer");
    const questionElement = document.getElementById("question");
    const a_text = document.getElementById("a_text");
    const b_text = document.getElementById("b_text");
    const c_text = document.getElementById("c_text");
    const d_text = document.getElementById("d_text");
    const submitButton = document.getElementById("submit");
    const progressBar = document.getElementById("progress-bar");
    const popup = document.getElementById("popup");
        const popupMessage = document.getElementById("popup-message");

    let currentQuiz = 0;
    let score = 0;
    let currentQuizData;

    const deselectAnswers = () => {
        answerElements.forEach((answer) => (answer.checked = false));
        document.querySelectorAll("label").forEach((label) => label.classList.remove("correct"));
    };

    const getSelected = () => {
        let answer;
        answerElements.forEach((answerElement) => {
            if (answerElement.checked) answer = answerElement.id;
        });
        return answer;
    };

    const loadQuiz = () => {
        deselectAnswers();
        if (currentQuiz < quizData.length) {
            currentQuizData = quizData[currentQuiz];
            questionElement.innerText = currentQuizData.question;
            a_text.innerText = currentQuizData.a;
            b_text.innerText = currentQuizData.b;
            c_text.innerText = currentQuizData.c;
            d_text.innerText = currentQuizData.d;
            updateProgressBar();
        } else {
            console.error("Error: currentQuiz está fuera de los límites de quizData.");
        }
    };

    const updateProgressBar = () => {
        const progress = (currentQuiz / quizData.length) * 100; 
        progressBar.style.width = `${progress}%`;
    };

    loadQuiz();

    submitButton.addEventListener("click", () => {
        const answer = getSelected();
        if (answer) {
            const correctAnswer = quizData[currentQuiz]?.correct;
            if (correctAnswer) {
                if (answer === correctAnswer) {
                    score++;
                } else {
                    popupMessage.innerHTML = `Respuesta incorrecta. La respuesta correcta es: ${currentQuizData[correctAnswer]}.<br>Explicación: ${currentQuizData.explanation || "Sin explicación"}`;
                    showPopup();
                    document.getElementById(`${correctAnswer}_text`).classList.add("correct");
                    lastQuestionAnswered = currentQuiz + 1 === quizData.length; // Check if it's the last question
                }
            } else {
                console.error("Error: currentQuiz está fuera de los límites de quizData.");
                return;
            }
            currentQuiz++;
            if (currentQuiz < quizData.length) {
                setTimeout(loadQuiz, 1000);
            } else {
                console.log(`Puntaje obtenido: ${score}`);

                // Verificar si el puntaje es suficiente para pasar al siguiente nivel
                if (score === 8) {
                    const currentUserLevel = getUserLevel();
                    if (currentUserLevel === 'conversador') {
                        setUserLevel('experto');
                        // Actualizar el nivel en la base de datos
                        actualizarNivelEnBaseDeDatos('experto');
                        quiz.innerHTML = `
                            <h2>Felicitaciones!, pasaste el nivel de conversador</h2>
                            <button onclick="window.location.href='/modulo-presupuesto.html'">Regresar a los niveles</button>
                        `;
                    } else {
                        quiz.innerHTML = `
                            <h2>Felicitaciones!, pasaste el examen</h2>
                            <button onclick="window.location.href='/modulo-presupuesto.html'">Regresar a los niveles</button>
                        `;
                    }
                } else {
                    quiz.innerHTML = `
                        <h2>Fallaste el examen básico, vuelve a intentarlo</h2>
                         <button onclick="window.location.reload()">Retomar la encuesta</button>
                    `;
                }
            }
        }
    });

    const showPopup = () => {
    popup.style.display = "block";
};

const closePopup = () => {
    popup.style.display = "none";
    if (lastQuestionAnswered) {
        displayResult();
    }
};


    // Función para actualizar el nivel en la base de datos
    function actualizarNivelEnBaseDeDatos(nuevoNivel) {
        const userId = localStorage.getItem('userId'); 
        const data = { userId: userId, nuevoNivel: nuevoNivel };

        fetch('/actualizar-nivel', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Error al actualizar el nivel del usuario');
            }
            console.log('Nivel de usuario actualizado en la base de datos');
            
        })
        .catch(error => console.error('Error al actualizar nivel en la base de datos:', error));
    }

    // Función para regresar atrás 
    function goBack() {
        window.history.back();
    }

    // Función para obtener el nivel del usuario
    function getUserLevel() {
        return localStorage.getItem('userLevel') || 'conversador';
    }

    // Función para establecer el nivel del usuario
    function setUserLevel(level) {
        localStorage.setItem('userLevel', level);
    }
</script>
</body>
</html>
