<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccionar Nivel de Inversión</title>
    <link rel="stylesheet" href="../../styles/seleccionar.css"> 
</head>
<body>
    <div class="dropdown-container">
        <div class="dropdown">
            <button class="dropbtn">Nombre de Usuario</button>
            <div class="dropdown-content">
                <a href="#" id="logout">Cerrar sesión</a>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Seleccionar Nivel</h1>
        <div class="card-container">
            <div class="card">
                <h2>Empezar desde 0</h2>
                <p>Si no tienes conocimiento sobre inversión, puedes empezar desde básico.</p>
                <form action="/establecer-nivel" method="POST" class="card-form">
                    <input type="hidden" name="option" value="basico">
                    <button type="submit" class="btn">Empezar</button>
                </form>
            </div>
            <div class="card">
                <h2>Tomar prueba de nivelación</h2>
                <p>Si tienes conocimiento previo y quieres evaluar tu nivel, toma la prueba de nivelación.</p>
                <form action="/establecer-nivel" method="POST" class="card-form">
                    <input type="hidden" name="option" value="prueba">
                    <button type="submit" class="btn">Empezar</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Recuperar el nombre y nivel del usuario del localStorage
            const userName = localStorage.getItem('userName');
            const userId = localStorage.getItem('userId');
            let userLevel = localStorage.getItem('userLevel');

            // Console log para debug
            console.log('userName:', userName);
            console.log('ID de usuario almacenado:', userId);
            console.log('userLevel:', userLevel);

            // Obtener el botón del menú desplegable
            const dropbtn = document.querySelector('.dropbtn');

            // Establecer el dropdown si hay nombre de usuario
            if (userName) {
                dropbtn.innerHTML = `Hola, <strong>${userName}</strong>`;
            }

            // Obtener "Cerrar sesión"
            const logoutLink = document.getElementById('logout');

            // Agregar un event listener para el enlace de "Cerrar sesión"
            logoutLink.addEventListener('click', (event) => {
                event.preventDefault();

                // Eliminar los datos del localStorage
                localStorage.removeItem('userName');
                localStorage.removeItem('userLevel');

                // Redirigir al usuario a la página de login
                window.location.href = '/login.html';
            });

            // Agregar evento a los formularios de las cards
            const cardForms = document.querySelectorAll('.card-form');
            cardForms.forEach(form => {
                form.addEventListener('submit', async (event) => {
                    event.preventDefault();

                    // Obtener la opción seleccionada desde el formulario
                    const formData = new FormData(form);
                    const option = formData.get('option');
                    console.log('Opción seleccionada:', option);

                    // Redirigir o enviar el formulario con userId y option
                    if (userId) {
                        try {
                            const response = await fetch('/establecer-nivel', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({ userId, option })
                            });

                            if (response.ok) {
                                // Actualizar userLevel en localStorage si la opción es 'basico'
                                if (option === 'basico') {
                                    localStorage.setItem('userLevel', 'basico');
                                    window.location.href = '/modulo-inversion.html';
                                } else if (option === 'prueba') {
                                    window.location.href = '/investment.html';
                                }
                            } else {
                                const errorMessage = await response.text();
                                console.error('Error en el servidor:', errorMessage);
                                alert('Error al establecer el nivel de usuario');
                            }
                        } catch (error) {
                            console.error('Error al establecer el nivel de usuario:', error);
                            alert('Error al establecer el nivel de usuario');
                        }
                    } else {
                        console.error('No se encontró userId en localStorage');
                    }
                });
            });
        });
    </script>
</body>
</html>